include _mixins

doctype html
html.no-js(ng-app='app')
head
    meta(charset='utf-8')
    title sample app
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', href='/favicon.ico')
    //
       Place favicon.ico and apple-touch-icon.png in the root directory
    //
       build:css(app) styles/vendor.css
    //
       bower:css
    //
       endbower
    //
       endbuild
    //
       build:css(.tmp) styles/main.css
    link(rel='stylesheet', type='text/css', href='bower_components/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='styles/main.css')
    link(rel='stylesheet', href='styles/directives/rdf-json-editor.css')
    //
       endbuild
    block head

  body(ng-controller='AppController')
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    #alerts
      alert(ng-repeat='alert in alerts', type='{{alert.type}}', close='closeAlert($index)') {{alert.message}}
    .container
      .header
        ul.nav.nav-pills.pull-right
          block header
            +nav_links('')
        h3.text-muted sharejs-rdf

      .body
        block content

      .footer
        p
          span.glyphicon.glyphicon-share-alt
          | &nbsp;
          a(href="https://github.com/AKSW/sharejs-rdf") sharejs-rdf sample app
    //
       build:js(app) scripts/vendor.js
    //
       bower:js
    script(src='bower_components/codemirror/lib/codemirror.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='bower_components/angular-ui-codemirror/ui-codemirror.js')
    //
       endbower
    script(src='scripts/vendor/browserchannel/bcsocket.js')
    script(src='scripts/vendor/share/share.js')
    script(src='scripts/vendor/share/cm.js')
    script(src='scripts/vendor/sharejs-rdf-ext/web.js')
    //
       endbuild
    //
       Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    //
       build:js({app,.tmp}) scripts/main.js
    script(src='scripts/main.js')
    script(src='scripts/controllers/AppController.js')
    script(src='scripts/controllers/DirectivesController.js')
    script(src='scripts/controllers/HybridEditorController.js')
    script(src='scripts/controllers/JsonEditorController.js')
    script(src='scripts/controllers/TurtleEditorController.js')
    script(src='scripts/directives/HybridEditorDirective.js')
    script(src='scripts/directives/RdfJsonEditorDirective.js')
    script(src='scripts/directives/SetFocusOnEventDirective.js')
    script(src='scripts/services/AlertService.js')
    script(src='scripts/services/RdfJsonAttachmentService.js')
    script(src='scripts/utility/TripleSet.js')
    //
       endbuild
