
mixin nav_links(current_page)
  - if (!current_page) { current_page = '/' + current.path.join('/') + '.html' }

  each page in public._data.pages
    if page.url == current_page
      li.active
        a(href=page.url)= page.title
    else
      li(data-page-url=page.url, data-current-page=current_page)
        a(href=page.url)= page.title
