extends __layout

block head
  meta(name='rdfshare-namespaces', value='')
  script(type='x-rdfshare/namespaces')
      "ex": "http://example.com/ontology/"

block header
  +nav_links

block content
  .page-header
    h1 Angular Directives

  div.share-resource(ng-controller='DirectivesController')
    //
      .row.connect
        .col-lg-12
          include _jade-blocks/sharejs-config

    .row(rdfshare-connect='{{ serverUrl }}')
      .col-lg-12
        .row.resource-data(data-rdfshare-resource='http://example.org/persons/john')
          .col-lg-12
            span.label Name
            span.value(rdfshare-single-value='rdfs:label')
          .col-lg-6
            span.label First Name
            input(rdfshare-model='ex:firstName')
          .col-lg-6
            span.label Last Name
            input(rdfshare-model='ex:lastName')
