extends __layout

block header
  +nav_links

block content
  .page-header
    h1 JSON Editor

  div(ng-controller='JsonEditorController')
    .row.connect
      .col-lg-12
        include _jade-blocks/sharejs-config

    rdf-json-editor
