extends __layout

block header
  +nav_links

block content
  .page-header
    h1 Turtle Editor

  div(ng-controller='TurtleEditorController')
    .row.connect
      .col-lg-12
        include _jade-blocks/sharejs-config

    .row.editor
      .col-lg-12
        p
          textarea(ui-codemirror='{ onLoad: codemirrorLoaded }', ng-model='turtleContents')
