extends layout

block header
  +nav_links('/')

block content
  .jumbotron
    h1 sharejs-rdf
    h2 Test page

    p.lead
      :markdown
        You may try the [Turtle Editor](/turtle-editor.html) and the
        [JSON Editor](/json-editor.html).
