mixin nav_links(current_page)
  each page in [ {title: "Home", url: "/"}, {title: "Turtle Editor", url: "/turtle-editor.html"}, {title: "JSON Editor", url: "/json-editor.html"} ]
    if page.url == current_page
      li.active
        a(href=page.url)= page.title
    else
      li
        a(href=page.url)= page.title
